@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #0E2F36;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 1px solid #1AD2FB;
}

.form .input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #17A9CA;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #000000;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #1AD2FB;
}
.form .btnbutton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #3c3f3f;
  width: 100%;
  border: 0;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.form .btnbutton:hover,.form .btnbutton:active,.form .btnbutton:focus {
  background: #6c7575;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.container:before, .container:after {
  content: "";
  display: block;
  clear: both;
}
.container .info {
  margin: 50px auto;
  text-align: center;
}
.container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.container .info span a {
  color: #000000;
  text-decoration: none;
}
.container .info span .fa {
  color: #EF3B3A;
}
.form.alta{
  position: relative;
  z-index: 1;
  background: #0E2F36;
  max-width: 850px;
  margin: 0 auto 100px;
  margin-top: 50px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border: 1px solid #1AD2FB;
}
/*.form.alta label{
  align-items: left;
  
  color: #ededf6;
  text-align: left;
  
}*/
.altaLabel{
  margin-bottom: 0.5rem;
  color: #ededf6;
  text-align: left;
}
.form.alta h4{
  color: white;
}

.form.alta .input{
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 40%;
  border: 0;
  margin: 0 0 15px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
}
.error {
  color: #e61c1c;
  /*background-color: #f2dede;*/
  /*border-color: #ebccd1;*/
  /*padding:1px 20px 1px 20px;*/
}
.btn.btnAgregar{
  color: #ffffff;
  background-color: #17A9CA;
  border-color: #14b4d8;
}
.btn.btnAgregar:hover,.btn.btnAgregar:active,.btn.btnAgregar:focus{
  color: #ffffff;
  background-color: #1AD2FB;
  border-color: #17D2FB;
}

.btn.btnQuitar{
  color: #fff;
  background-color: #3c3f3f;
  border-color: #494f4f;
}
.btn.btnQuitar:hover,.btn.btnQuitar:active,.btn.btnQuitar:focus{
  color: #fff;
  background-color: #6c7575;
  border-color: #616c6c;
}

.icon {  
  display: inline-block;
  width: 18px;
  height: 18px;
  background-size: cover;
}
.icon-mas {
  background-image: url("plus.svg");
  fill: white;
}
.icon-menos {
  background-image: url("dash.svg");
}
body {
  background: #0f1111; /* fallback for old browsers */
  background: rgb(15,17,17);
  background-color: #0f1111;
  background: linear-gradient(180deg, rgba(15,17,17,1) 0%, rgba(15,15,15,1) 50%);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 60px;      
}

*{
  padding: 0;
  margin: 0;
}
.encabezado {
  background-color: #0a0b0b; 
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 100;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .15);
}

.encabezado nav{
  display: flex;
  justify-content: space-between;
  max-width: 996;
  margin: 0 auto;
}
.encabezado nav ul{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-right: 100px;
  overflow: hidden;
}
.encabezado nav ul li {
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 50px; 
  border-radius: 3px;
}
.encabezado nav li:hover{
  background: #3c3f3f;
  transition: 0.5s;
}
.encabezado nav ul li ul{
  display: flex;
  flex-direction: column;
  position: absolute;
  background: #0a0b0b;
}
.encabezado nav a{
  color: #fff;
  text-decoration: none;
}
.encabezado nav ul li ul{
  display: none;
  padding: 0;
  margin: 0;
}
.encabezado nav ul li:hover > ul{
  display: flex;
}
.encabezado nav ul li ul li{
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 50px; 
  border-radius: 3px; 
}
.menu{
  padding: 0 40px;
}
.logo{
  font-size: 25px;
  font-weight: bold;
  padding: 0 40px;
  line-height: 40px;
}
.logo-img{
  height: 50px;
  width: 80px;
  padding: 8px;
}
.btMar{
  margin-top: 60px;
}
.card-body{
  color: white;
}
td{
  color: white;
}
th{
  color: white;
}
.head-cred{
  color: white;
}
.nombre-cred{
  color: white;
}